# Ignore node_modules directory
node_modules/

# Ignore npm debug logs and error logs
npm-debug.log*
yarn-error.log*

# Ignore environment-specific variables
.env
.env.*

# Ignore build artifacts and compiled files
/build/
/dist/

# Ignore user-specific files
.DS_Store
Thumbs.db

# Ignore npm cache directory
.npm/

# Ignore log files
*.log

# Ignore IDE or editor specific files and directories
.vscode/
.idea/
*.iml

# Ignore OS-specific temporary files
.DS_Store
Thumbs.db
